header{
    background-color: aliceblue;
    text-align: center;
    padding: 15px;
}
footer{
    background-color: azure;
    text-align: center;
    padding: 15px;
}
nav{
    overflow: hidden;
    background-color: cadetblue;
}
nav a {
    float: left;
    display: block;
    color: brown;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/*links-change color*/
nav a:hover{
    background-color: aliceblue;
    color: cornflowerblue;
}
/* formatting hero section */
.hero{
    min-height: 100vh;
    background:linear-gradient(
        rgb(0,0,0.6)
        rgb(0,0,0.6)
    ),
    url("amy.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 40px 20px;
}
.hero-content{
    max-width: 800px;
    color: chocolate;
}
.hero h2{
    font-size:3rem;
    margin-bottom:10px
}
.hero h3{
    font-size:1.5rem;
    font-weight: 400;
    margin: bottom 20px;
    color: gainsboro;
}
.hero p {
    font: size 1.1rem;
    line-height:1.6;
    margin: bottom 30px;
    color: coral;
}
.hero-buttons{
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
}
form{
    margin: 40px;px;
}
input[type="text"],
input[type="email"],
textarea{
    display: block;
    padding: 10px;
    width: 80%;
    font-family: monospace;
    text-transform: uppercase;
}